<header id="header" class="header">
  <div class="header-page bg-primary">
    <a class="toggle-offcanvas bg-primary" (click)="toggleNav()"><span></span></a>
    <h1 class="header-page-siteTitle">
      <a routerLink="/">ng2-dinos</a>
    </h1>
  </div>

  <nav id="nav" class="nav" role="navigation">
    <ul class="nav-list">
      <li>
        <a 
          routerLink="/"
          routerLinkActive="active"
          [routerLinkActiveOptions]="{ exact: true }">Dinosaurs</a>
      </li>
      <li>
        <a routerLink="/about" routerLinkActive="active">About</a>
      </li>
      <li>
        <a href="https://github.com/auth0-blog/sample-nodeserver-dinos">Dino API on GitHub</a>
      </li>
    </ul>

    <section class="authWrapper">
      <!-- Logged out -->
      <a
        class="btn btn-primary"
        (click)="auth.login()"
        *ngIf="!auth.authenticated">Log In</a>

      <!-- Logged in -->
      <div class="alert alert-info text-center" *ngIf="auth.authenticated">
        <p *ngIf="auth.userProfile">Hello, {{auth.userProfile.name}}!</p>

        <a
          class="btn btn-danger"
          (click)="auth.logout()"
          >Log Out</a>
      </div>
    </section> 

  </nav>
</header>
